@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-TextBold.eot');
    src: url('Agrandir-TextBold.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-TextBold.woff2') format('woff2'),
        url('Agrandir-TextBold.woff') format('woff'),
        url('Agrandir-TextBold.ttf') format('truetype'),
        url('Agrandir-TextBold.svg#Agrandir-TextBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir Grand';
    src: url('Agrandir-GrandLight.eot');
    src: url('Agrandir-GrandLight.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-GrandLight.woff2') format('woff2'),
        url('Agrandir-GrandLight.woff') format('woff'),
        url('Agrandir-GrandLight.ttf') format('truetype'),
        url('Agrandir-GrandLight.svg#Agrandir-GrandLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir Grand';
    src: url('Agrandir-GrandHeavy.eot');
    src: url('Agrandir-GrandHeavy.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-GrandHeavy.woff2') format('woff2'),
        url('Agrandir-GrandHeavy.woff') format('woff'),
        url('Agrandir-GrandHeavy.ttf') format('truetype'),
        url('Agrandir-GrandHeavy.svg#Agrandir-GrandHeavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.eot');
    src: url('Agrandir-Regular.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-Regular.woff2') format('woff2'),
        url('Agrandir-Regular.woff') format('woff'),
        url('Agrandir-Regular.ttf') format('truetype'),
        url('Agrandir-Regular.svg#Agrandir-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

